body {
    font-family: Arial, "Times New Roman", Verdana;
}

.table {
    display:table;
    width:100%;
}
.tr {
    display:table-row;
}
.d1 {
    display:table-cell;
    width:25%;
}
.d2 {
    display:table-cell;
    text-align:center;
    width:50%;
}
.d3 {
    display:table-cell;
    text-align:right;
    width:25%;
}

h2 {
text-decoration: underline
}

body {
  background-color: #AAA139;
  color: #FFF8AA; 
}

h1 {
   font-family: "Leckerli One",cursive;
   font-weight: bold;
   font-size: 300%;
   color: #D4CC6A;
}
.a {
  background-color: #807715;
}

.navbar-brand {
   padding-bottom: 75px;
}

.navbar{
  background-color: #807715;
}
